@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 95px auto;
  overflow-x: hidden; }
  .body .header {
    width: 89px;
    height: 100vh;
    padding: 10px;
    background-color: #610000;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 1s; }
    .body .header .logo {
      height: 100px;
      width: 100px;
      margin: 10px; }
    .body .header nav {
      height: 100%;
      width: 100%; }
      .body .header nav .navOpciones {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        color: rgba(0, 0, 0, 0); }
        .body .header nav .navOpciones li .linkNav {
          width: 100%;
          margin-left: 5px;
          display: flex;
          align-items: center;
          color: #dddddd;
          font-family: 'Courgette', cursive;
          text-decoration: none;
          font-weight: bold;
          font-size: 0;
          transition: 1s;
          gap: 10px; }
          .body .header nav .navOpciones li .linkNav img {
            width: 40px;
            height: 40px; }
    .body .header:hover {
      width: 200px; }
    .body .header:hover nav .navOpciones .linkNav {
      font-size: 1em;
      opacity: 1;
      transition: 1s; }
  .body main {
    width: 100%;
    height: 100%;
    background-color: #e6d5a6;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .body main #preguntaEdad {
      height: 90%;
      width: 95%;
      margin: 40px;
      background-color: rgba(165, 42, 42, 0.98);
      border: 2px solid black;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .body main #preguntaEdad #ingresaEdad {
        font-family: "Aboreto", cursive;
        font-weight: bold; }
      .body main #preguntaEdad #edad {
        height: 2.5%;
        width: 50%;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px; }
      .body main #preguntaEdad #ingresar {
        height: 5%;
        width: 20%;
        background-color: #771e1e;
        border: 2px solid black;
        border-radius: 5px;
        color: #dddddd;
        font-weight: bold; }
        .body main #preguntaEdad #ingresar:hover {
          background-color: #571616; }
    .body main #inicioSesion {
      height: 70%;
      width: 60%;
      border: 5px solid black;
      border-radius: 5px;
      background-color: #610000;
      position: fixed;
      right: -61%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 9;
      transition: 0.8s; }
      .body main #inicioSesion:hover {
        transition: 0.8s;
        right: 0; }
      .body main #inicioSesion img {
        height: 60px;
        margin: 2px;
        border: 5px solid black;
        border-radius: 5px;
        background-color: #610000;
        position: absolute;
        left: -73px;
        top: 0; }
      .body main #inicioSesion #inputUser {
        height: 2.5%;
        width: 50%;
        margin: 10px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px; }
      .body main #inicioSesion #inputPass {
        height: 2.5%;
        width: 50%;
        margin: 10px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px; }
      .body main #inicioSesion #iniciarSesion {
        height: 5%;
        width: 20%;
        background-color: #771e1e;
        border: 2px solid black;
        border-radius: 5px;
        color: #dddddd;
        font-weight: bold; }
        .body main #inicioSesion #iniciarSesion:hover {
          background-color: #571616; }
    .body main #cerrarSesion {
      height: 5%;
      width: 20%;
      margin: 10px;
      background-color: #771e1e;
      border: 2px solid black;
      border-radius: 5px;
      color: #dddddd;
      font-weight: bold;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 9; }
      .body main #cerrarSesion:hover {
        background-color: #571616; }
    .body main #inicio {
      min-height: 100vh;
      max-height: max-content;
      width: 100%;
      overflow: hidden; }
      .body main #inicio #imgFondo {
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        z-index: 1; }
      .body main #inicio h1 {
        height: 5%;
        width: 100%;
        text-align: center;
        font-family: "Aboreto", cursive;
        z-index: 5; }
      .body main #inicio div {
        height: 95%;
        position: relative;
        bottom: 0;
        z-index: 5; }
        .body main #inicio div p {
          height: max-content;
          padding: 20px;
          padding-left: 40px;
          background-color: #00000061;
          position: absolute;
          bottom: 0;
          overflow-y: auto;
          font-family: "Dancing Script", cursive;
          font-size: 24px;
          font-weight: bold;
          text-align: justify; }
    .body main #catalogo {
      min-height: 100vh;
      max-height: max-content;
      width: 100%;
      margin-top: 5%;
      background: linear-gradient(to bottom, #e6d5a6, #771e1e);
      padding: 20px; }
      .body main #catalogo h1 {
        text-align: center;
        font-family: "Aboreto", cursive; }
      .body main #catalogo .productos {
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
        .body main #catalogo .productos div {
          height: 350px;
          padding: 10px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .body main #catalogo .productos div img {
            height: 300px;
            width: 215px;
            border-radius: 5px; }
          .body main #catalogo .productos div #addProduct {
            padding: 5px;
            background-color: #771e1e;
            border: 2px solid black;
            border-radius: 5px;
            color: #dddddd;
            font-weight: bold; }
            .body main #catalogo .productos div #addProduct:hover {
              background-color: #571616; }
    .body main #info {
      min-height: 100vh;
      max-height: max-content;
      width: 100%;
      padding: 20px;
      background: linear-gradient(to bottom, #771e1e, #e6d5a6); }
      .body main #info h1 {
        font-family: "Aboreto", cursive;
        text-align: center; }
      .body main #info div {
        height: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        align-items: center; }
        .body main #info div p {
          width: 90%;
          text-align: justify;
          font-family: "Dancing Script", cursive;
          font-size: 24px;
          font-weight: bold;
          text-align: justify;
          padding: 5px; }
        .body main #info div div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 2fr 2fr;
          justify-items: center;
          gap: 10px; }
          .body main #info div div iframe {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            grid-column-start: 1;
            grid-column-end: 3; }
          .body main #info div div img {
            width: 100%;
            height: 80%;
            margin-bottom: 5%;
            border-radius: 10px; }
    .body main #contactanos {
      width: 100%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #e6d5a6, #771e1e); }
      .body main #contactanos h1 {
        font-family: "Aboreto", cursive;
        text-align: center; }
      .body main #contactanos p {
        text-align: center;
        font-family: "Aboreto", cursive;
        font-weight: bold; }

.visible {
  display: flex; }

.oculto {
  visibility: hidden; }
