@mixin cienXcien{
    height: 100%;
    width: 100%;
}

@mixin cienvh{
    min-height: 100vh;
    max-height: max-content;
    width: 100%;
}

@mixin relativeTop{
    position: relative;
    top: 0;
}

@mixin relativeBottom {
    position: relative;
    bottom: 0;
}

@mixin styleText {
    font-family: $font-text;
    font-size: 24px;
    font-weight: bold;
    text-align: justify; 
}