@import "_colors.scss";
@import "_fonts.scss";
@import "_mixins.scss";

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

.body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 95px auto;
    overflow-x: hidden;
    .header{
        width: 89px;
        height: 100vh;
        padding: 10px;
        background-color: $col-bordo;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
        transition: 1s;
        .logo{
            height: 100px;
            width: 100px;
            margin: 10px
        }
        nav{
            @include cienXcien;
            .navOpciones{
                @include cienXcien;
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-content: space-around;
                align-items: center;
                color: rgba(0, 0, 0, 0);
                li{
                    .linkNav{
                        width: 100%;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        color: $col-link;
                        font-family: 'Courgette', cursive;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 0;
                        transition: 1s;
                        gap: 10px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        &:hover{
            width: 200px;
        }
        &:hover nav .navOpciones .linkNav{
            font-size: 1em;
            opacity: 1;
            transition: 1s;
        }  
    }
    main{
        width: 100%;
        height: 100%;
        background-color: $col-fondo;
        display: flex;
        flex-direction: column;
        align-items: center;
        #preguntaEdad{
            height: 90%;
            width: 95%;
            margin: 40px;
            background-color: rgba(165, 42, 42, 0.980);
            border: 2px solid black;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            #ingresaEdad{
                font-family: $font-titulos;
                font-weight: bold;
            }
            #edad{
                height: 2.5%;
                width: 50%;
                text-align: center;
                border: 2px solid black;
                border-radius: 5px;
            }
            #ingresar{
                height: 5%;
                width: 20%;
                background-color: $col-buttons;
                border: 2px solid black;
                border-radius: 5px;
                color: $col-link;
                font-weight: bold;
                &:hover{
                    background-color: $col-buttons-push;
                }
            }
        }
        #inicioSesion{
            height: 70%;
            width: 60%;
            border: 5px solid black;
            border-radius: 5px;
            background-color: $col-bordo;
            position: fixed;
            right: -61%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9;
            transition: 0.8s;
            &:hover{
                transition: 0.8s;
                right: 0;
            }
            img{
                height: 60px;
                margin: 2px;
                border: 5px solid black;
                border-radius: 5px;
                background-color: $col-bordo;
                position: absolute;
                left: -73px;
                top: 0;
            }
            #inputUser{
                height: 2.5%;
                width: 50%;
                margin: 10px;
                text-align: center;
                border: 2px solid black;
                border-radius: 5px;
            }
            #inputPass{
                height: 2.5%;
                width: 50%;
                margin: 10px;
                text-align: center;
                border: 2px solid black;
                border-radius: 5px;
            }
            #iniciarSesion{
                height: 5%;
                width: 20%;
                background-color: $col-buttons;
                border: 2px solid black;
                border-radius: 5px;
                color: $col-link;
                font-weight: bold;
                &:hover{
                    background-color: $col-buttons-push;
                }
            }
        }
        #cerrarSesion{
            height: 5%;
            width: 20%;
            margin: 10px;
            background-color: $col-buttons;
            border: 2px solid black;
            border-radius: 5px;
            color: $col-link;
            font-weight: bold;
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 9;
            &:hover{
                background-color: $col-buttons-push;
            }
        }
        #inicio{
            @include cienvh;
            overflow: hidden;
            #imgFondo{
                height: 100%;
                width: 100%;
                position: absolute;
                overflow-x: hidden;
                z-index: 1;
            }
            h1{
                height: 5%;
                width: 100%;
                text-align: center;
                font-family: $font-titulos;
                z-index: 5;
            }
            div{
                height: 95%;
                position: relative;
                bottom: 0;
                z-index: 5;
                p{
                    height: max-content;
                    padding: 20px;
                    padding-left: 40px;
                    background-color: $col-transp;
                    position: absolute;
                    bottom: 0;
                    overflow-y: auto;
                    @include styleText;  
                }
            }
        }
        #catalogo{
            @include cienvh;

            margin-top: 5%;
            background: linear-gradient(to bottom, $col-fondo, $col-buttons);
            padding: 20px;
            h1{
                text-align: center;
                font-family: $font-titulos;
                
            }
            .productos{
                @include cienXcien;
                display: grid;
                justify-items: center;
                align-items: center;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                div{
                    height: 350px;
                    padding: 10px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        height: 300px;
                        width: 215px;
                        border-radius: 5px
                    }
                    #addProduct{
                        padding: 5px;
                        background-color: $col-buttons;
                        border: 2px solid black;
                        border-radius: 5px;
                        color: $col-link;
                        font-weight: bold;
                        &:hover{
                            background-color: $col-buttons-push;
                        }
                    }
                }
            }
        }
        #info{
            @include cienvh;
            padding: 20px;
            background: linear-gradient(to bottom, $col-buttons, $col-fondo);
            h1{
                font-family: $font-titulos;
                text-align: center;
                
            }
            div{
                height: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                align-items: center;
                p{
                    width: 90%;
                    text-align: justify;
                    @include styleText;
                    padding: 5px;
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 2fr 2fr;
                    justify-items: center;
                    gap: 10px;
                    iframe{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                    img{
                        width: 100%;
                        height: 80%;
                        margin-bottom: 5%;
                        border-radius: 10px;
                    }
                }
            }
        }
        #contactanos{
            width: 100%;
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, $col-fondo, $col-buttons);
            h1{
                font-family: $font-titulos;
                text-align: center;
            }
            p{
                text-align: center;
                font-family: $font-titulos;
                font-weight: bold;
            }

        }
    }
} 



.visible{
    display: flex;
}

.oculto{
    visibility: hidden;
}




