@import "_colors.scss";
@import "_fonts.scss";
@import "_mixins.scss";

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

.body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 95px auto;
    .header{
        width: 95px;
        height: 100vh;
        padding: 10px;
        background-color: $col-bordo;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10;
        transition: 1s;
        .logo{
            height: 100px;
            width: 100px;
            margin: 10px
        }
        nav{
            @include cienXcien;
            .navOpciones{
                @include cienXcien;
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-content: space-around;
                align-items: center;
                color: rgba(0, 0, 0, 0);
                li{
                    .linkNav{
                        width: 100%;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        color: $col-link;
                        font-family: 'Courgette', cursive;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 0;
                        transition: 1s;
                        gap: 10px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        &:hover{
            width: 200px;
        }
        &:hover nav .navOpciones .linkNav{
            font-size: 1em;
            opacity: 1;
            transition: 1s;
        }  
    }
    main{
        width: 100%;
        height: 100%;
        background-color: $col-fondo;
        display: flex;
        flex-direction: column;
        align-items: center;
        #preguntaEdad{
            height: 90%;
            width: 95%;
            margin: 40px;
            background-color: rgba(165, 42, 42, 0.980);
            border: 2px solid black;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            #ingresaEdad{
                font-family: $font-titulos;
                font-weight: bold;
            }
            #edad{
                height: 2.5%;
                width: 50%;
                text-align: center;
                border: 2px solid black;
                border-radius: 5px;
            }
            #ingresar{
                height: 5%;
                width: 20%;
                background-color: $col-buttons;
                border: 2px solid black;
                border-radius: 5px;
                color: $col-link;
                font-weight: bold;
                &:hover{
                    background-color: $col-buttons-push;
                }
            }
        }
        #inicio{
            @include cienvh;
            h1{
                height: 5%;
                width: 100%;
                text-align: center;
                font-family: $font-titulos;
                
            }
            div{
                height: 95%;
                position: relative;
                bottom: 0;
                p{
                    height: 20%;
                    padding: 20px;
                    background-color: $col-transp;
                    position: absolute;
                    bottom: 0;
                    overflow-y: auto;
                    @include styleText;  
                }
            }
        }
        #masPopulares{
            @include cienvh;
            margin-top: 5%;
            position: relative;
            h1{
                height: 10%;
                width: 100%;
                font-family: $font-titulos;
                text-align: center;
            }
            p{
                height: 20%;
                padding: 20px;
                position: absolute;
                bottom: 0;
                overflow-y: auto;
                background-color: $col-transp;
                @include styleText;
            }
        }
        #catalogo{
            @include cienvh;
            margin-top: 5%;
            h1{
                text-align: center;
                font-family: $font-titulos;
                
            }
            .productos{
                @include cienXcien;
                display: grid;
                justify-items: center;
                align-items: center;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                div{
                    padding: 10px;
                    border-radius: 5px;
                    border: 2px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        border-radius: 5px
                    }
                }
            }
        }
        #info{
            @include cienvh;
            margin-top: 5%;
            h1{
                font-family: $font-titulos;
                text-align: center
            }
            div{
                height: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                align-items: center;
                p{
                    text-align: justify;
                    @include styleText;
                }
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 2fr 2fr;
                    justify-items: center;
                    gap: 10px;
                    iframe{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }
        }
        #contactanos{
            @include cienvh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-family: $font-titulos;
                text-align: center;
            }

        }
    }
} 










